Rusty Bargain used car sales service is developing an app to attract new customers. In that app, you can quickly find out the market value of your car. You have access to historical data: technical specifications, trim versions, and prices. You need to build the model to determine the value. 

Rusty Bargain is interested in:

- the quality of the prediction;
- the speed of the prediction;
- the time required for training

## Data preparation

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.dummy import DummyClassifier
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('/datasets/car_data.csv')
df.head()

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Mileage,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,24/03/2016 11:52,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,24/03/2016 00:00,0,70435,07/04/2016 03:16
1,24/03/2016 10:58,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,24/03/2016 00:00,0,66954,07/04/2016 01:46
2,14/03/2016 12:52,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,14/03/2016 00:00,0,90480,05/04/2016 12:47
3,17/03/2016 16:54,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 00:00,0,91074,17/03/2016 17:40
4,31/03/2016 17:25,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,31/03/2016 00:00,0,60437,06/04/2016 10:17

In [3]:
df.dtypes

DateCrawled          object
Price                 int64
VehicleType          object
RegistrationYear      int64
Gearbox              object
Power                 int64
Model                object
Mileage               int64
RegistrationMonth     int64
FuelType             object
Brand                object
NotRepaired          object
DateCreated          object
NumberOfPictures      int64
PostalCode            int64
LastSeen             object
dtype: object

In [4]:
features = df.drop(columns=['Price' ])
target = df['Price']

In [5]:
categorical_features = ['VehicleType', 'Gearbox', 'Model', 'FuelType', 'Brand', 'NotRepaired']
numeric_features = ['RegistrationYear', 'Power', 'Mileage', 'RegistrationMonth', 'NumberOfPictures', 'PostalCode']

In [13]:
df_dummies = pd.get_dummies(features[categorical_features], drop_first=True)
df_dummies

,VehicleType_convertible,VehicleType_coupe,VehicleType_other,VehicleType_sedan,VehicleType_small,VehicleType_suv,VehicleType_wagon,Gearbox_manual,Model_145,Model_147,...,Brand_skoda,Brand_smart,Brand_sonstige_autos,Brand_subaru,Brand_suzuki,Brand_toyota,Brand_trabant,Brand_volkswagen,Brand_volvo,NotRepaired_yes
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354364,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
354365,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
354366,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
354367,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
354368,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [7]:
#df_ohe = df.drop(['Model', 'Brand'], axis=1)
#df_ohe = pd.get_dummies(df_ohe)

NameError: name 'get' is not defined

In [14]:
features_prep = pd.concat([
    features[numeric_features],
    df_dummies
], axis=1)

In [ ]:
#scaler = StandardScaler()
#features_scaled = scaler.fit_transform(features_prep)

In [15]:
features_prep

,RegistrationYear,Power,Mileage,RegistrationMonth,NumberOfPictures,PostalCode,VehicleType_convertible,VehicleType_coupe,VehicleType_other,VehicleType_sedan,...,Brand_skoda,Brand_smart,Brand_sonstige_autos,Brand_subaru,Brand_suzuki,Brand_toyota,Brand_trabant,Brand_volkswagen,Brand_volvo,NotRepaired_yes
0,1993,0,150000,0,0,70435,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2011,190,125000,5,0,66954,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2004,163,125000,8,0,90480,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2001,75,150000,6,0,91074,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,2008,69,90000,7,0,60437,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354364,2005,0,150000,7,0,2694,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
354365,2005,0,20000,1,0,39576,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
354366,2000,101,125000,3,0,26135,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
354367,1996,102,150000,3,0,87439,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
354368,2002,100,150000,6,0,40764,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Model training

In [17]:
features_train, features_test, target_train, target_test = train_test_split(
    features_prep, target, test_size=0.3, random_state=12345)

features_train.shape, target_train.shape

((248058, 309), (248058,))

In [ ]:
model = LinearRegression()
model.fit(features_train, target_train)
target_pred_lr = model.predict(features_test)

rmse_lr = mean_squared_error(target_test, target_pred_lr, squared=False)
r2_lr = r2_score(target_test, target_pred_lr)

print(f"Linear Regression - RMSE: {rmse_lr}, R^2: {r2_lr}")

In [ ]:
model_dt = DecisionTreeRegressor(random_state=12345)
model_dt.fit(features_train, target_train)
target_pred_dt = model_dt.predict(features_test)

rmse_dt = mean_squared_error(target_test, target_pred_dt, squared=False)
r2_dt = r2_score(target_test, target_pred_dt)

print(f"Decision Tree - RMSE: {rmse_dt}, R^2: {r2_dt}")

In [ ]:
model_rf = RandomForestRegressor(n_estimators=100, random_state=12345)
model_rf.fit(features_train, target_train)
target_pred_rf = model_rf.predict(features_test)

rmse_rf = mean_squared_error(target_test, target_pred_rf, squared=False)
r2_rf = r2_score(target_test, target_pred_rf)

print(f"Random Forest - RMSE: {rmse_rf}, R^2: {r2_rf}")

## Model analysis

# Checklist

Type 'x' to check. Then press Shift+Enter.

- [x]  Jupyter Notebook is open
- [ ]  Code is error free
- [ ]  The cells with the code have been arranged in order of execution
- [ ]  The data has been downloaded and prepared
- [ ]  The models have been trained
- [ ]  The analysis of speed and quality of the models has been performed